<!DOCTYPE html>
<html>
<head>

	<script type="text/javascript" src="/static/Jquery/jquery-3.2.1.js"></script>
	<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css">
	<script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

	<script type="text/javascript" src="/static/js/eventos.js"></script>

	<title>Login</title>
</head>
<body>

	<div>
		<fieldset>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Usuario</label>
			    <input type="text" class="form-control" id="usuario" placeholder="Usuario">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="pass" placeholder="Password">
			  </div>

			  <button id="button_submit" type="" class="btn btn-default">Submit</button>
	  	</fieldset>
	</div>

</body>
</html>